<h1>Register</h1>
<a ui-sref="login"><p><em>Already a member? Go to login!</em></p></a>
<h4 ng-show='err == true' style="color: red;">Something went wrong. Please re-enter info. </h4>
<form ng-submit="register(user)">
    <fieldset>
        <input type="email"
               ng-model="user.email"
               placeholder="Email"
               required>
        <input type="text"
               ng-model="user.username"
               placeholder="Username"
               minlength="8"
               required>
        <input type="password"
               ng-model="user.password"
               placeholder="Password"
               required>
        <hr>
        <input type="text"
               ng-model="user.names.firstName"
               placeholder="First Name"
               required>
        <input type="date"
               ng-model="user.dob"
               required>
        <input type="text"
               ng-model="user.address.zipcode"
               placeholder="ZIP"
               required>
        <input type="submit">
    </fieldset>
</form>